p{
  font-family: montserrat;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}
 .title{
  font-weight: bolder;
  font-size: 30px;
 
  
  
 }
.sub{
 
  font-size: 18px;
  
  padding-top: 12px;
}